
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование записи</title>
</head>
<body>
    <div>
        <h3>Введите новые данные</h3>
        <form method="post" action="">
            <input type="text" value="@ViewBag.Task" name="Task"/>
            <input type="submit" value="Изменить"/>
        </form>
    </div>
</body>
</html>
